-- create table of authors of episodes
CREATE TABLE [dbo].[tblAuthor](
	[AuthorId] [int] IDENTITY(1,1) NOT NULL,
	[AuthorName] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblAuthor] PRIMARY KEY CLUSTERED 
(
	[AuthorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

-- create table of companions of Dr Who
CREATE TABLE [dbo].[tblCompanion](
	[CompanionId] [int] IDENTITY(1,1) NOT NULL,
	[CompanionName] [nvarchar](50) NOT NULL,
	[WhoPlayed] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblCompanion] PRIMARY KEY CLUSTERED 
(
	[CompanionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

-- create table of Dr Who's
CREATE TABLE [dbo].[tblDoctor](
	[DoctorId] [int] IDENTITY(1,1) NOT NULL,
	[DoctorNumber] [int] NULL,
	[DoctorName] [nvarchar](50) NULL,
	[BirthDate] [date] NULL,
	[FirstEpisodeDate] [date] NULL,
	[LastEpisodeDate] [date] NULL,
 CONSTRAINT [PK_tblDoctor] PRIMARY KEY CLUSTERED 
(
	[DoctorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

-- create table of enemies of the Doctor
CREATE TABLE [dbo].[tblEnemy](
	[EnemyId] [int] IDENTITY(1,1) NOT NULL,
	[EnemyName] [nvarchar](100) NULL,
	[Description] [nvarchar](255) NULL,
 CONSTRAINT [PK_tblEnemy] PRIMARY KEY CLUSTERED 
(
	[EnemyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

-- create table of the episodes
CREATE TABLE [dbo].[tblEpisode](
	[EpisodeId] [int] IDENTITY(1,1) NOT NULL,
	[SeriesNumber] [int] NULL,
	[EpisodeNumber] [int] NULL,
	[EpisodeType] [nvarchar](50) NULL,
	[Title] [nvarchar](255) NULL,
	[EpisodeDate] [date] NULL,
	[AuthorId] [int] NULL,
	[DoctorId] [int] NULL,
	[Notes] [nvarchar](255) NULL,
 CONSTRAINT [PK_tblEpisode] PRIMARY KEY CLUSTERED 
(
	[EpisodeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

-- create table of which companions were in which episodes
CREATE TABLE [dbo].[tblEpisodeCompanion](
	[EpisodeCompanionId] [int] IDENTITY(1,1) NOT NULL,
	[EpisodeId] [int] NULL,
	[CompanionId] [int] NULL,
 CONSTRAINT [PK_tblEpisodeCompanion] PRIMARY KEY CLUSTERED 
(
	[EpisodeCompanionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

-- create table of which enemies were in which episodes
CREATE TABLE [dbo].[tblEpisodeEnemy](
	[EpisodeEnemyId] [int] IDENTITY(1,1) NOT NULL,
	[EpisodeId] [int] NULL,
	[EnemyId] [int] NULL,
 CONSTRAINT [PK_tbEpisodeEnemy] PRIMARY KEY CLUSTERED 
(
	[EpisodeEnemyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

-- add in the authors
SET IDENTITY_INSERT [dbo].[tblAuthor] ON 
GO
INSERT [dbo].[tblAuthor] ([AuthorId], [AuthorName]) VALUES (1, N'Chris Chibnall')
GO
INSERT [dbo].[tblAuthor] ([AuthorId], [AuthorName]) VALUES (2, N'Gareth Roberts')
GO
INSERT [dbo].[tblAuthor] ([AuthorId], [AuthorName]) VALUES (3, N'Helen Raynor')
GO
SET IDENTITY_INSERT [dbo].[tblAuthor] OFF
GO

-- add in the companions
SET IDENTITY_INSERT [dbo].[tblCompanion] ON 
GO
INSERT [dbo].[tblCompanion] ([CompanionId], [CompanionName], [WhoPlayed]) VALUES (1, N'River Song', N'Alex Kingston')
GO
INSERT [dbo].[tblCompanion] ([CompanionId], [CompanionName], [WhoPlayed]) VALUES (2, N'Rory Williams', N'Arthur Darvill')
GO
INSERT [dbo].[tblCompanion] ([CompanionId], [CompanionName], [WhoPlayed]) VALUES (3, N'Wilfred Mott', N'Bernard Cribbins')
GO
SET IDENTITY_INSERT [dbo].[tblCompanion] OFF
GO

-- add in the doctors
SET IDENTITY_INSERT [dbo].[tblDoctor] ON 
GO
INSERT [dbo].[tblDoctor] ([DoctorId], [DoctorNumber], [DoctorName], [BirthDate], [FirstEpisodeDate], [LastEpisodeDate]) VALUES (1, 9, N'Christopher Eccleston', CAST(0xD8F00A00 AS Date), CAST(0x7E2B0B00 AS Date), CAST(0xD22B0B00 AS Date))
GO
INSERT [dbo].[tblDoctor] ([DoctorId], [DoctorNumber], [DoctorName], [BirthDate], [FirstEpisodeDate], [LastEpisodeDate]) VALUES (2, 6, N'Colin Baker', CAST(0x52D30A00 AS Date), CAST(0x7E0D0B00 AS Date), CAST(0x61110B00 AS Date))
GO
INSERT [dbo].[tblDoctor] ([DoctorId], [DoctorNumber], [DoctorName], [BirthDate], [FirstEpisodeDate], [LastEpisodeDate]) VALUES (3, 10, N'David Tennant', CAST(0x12FB0A00 AS Date), CAST(0xD22B0B00 AS Date), CAST(0x4C320B00 AS Date))
GO
SET IDENTITY_INSERT [dbo].[tblDoctor] OFF
GO

-- add in the enemies
SET IDENTITY_INSERT [dbo].[tblEnemy] ON 
GO
INSERT [dbo].[tblEnemy] ([EnemyId], [EnemyName], [Description]) VALUES (1, N'The Autons', N'Murderous mannequins')
GO
INSERT [dbo].[tblEnemy] ([EnemyId], [EnemyName], [Description]) VALUES (2, N'Lady Cassandra', N'The last living human being')
GO
INSERT [dbo].[tblEnemy] ([EnemyId], [EnemyName], [Description]) VALUES (3, N'The Gelth', N'An alien species comprised of gas')
GO
SET IDENTITY_INSERT [dbo].[tblEnemy] OFF
GO

-- add the episodes
SET IDENTITY_INSERT [dbo].[tblEpisode] ON 
GO
INSERT [dbo].[tblEpisode] ([EpisodeId], [SeriesNumber], [EpisodeNumber], [EpisodeType], [Title], [EpisodeDate], [AuthorId], [DoctorId], [Notes]) VALUES (1, 1, 1, N'Normal episode', N'Rose', CAST(0x7E2B0B00 AS Date), 18, 1, NULL)
GO
INSERT [dbo].[tblEpisode] ([EpisodeId], [SeriesNumber], [EpisodeNumber], [EpisodeType], [Title], [EpisodeDate], [AuthorId], [DoctorId], [Notes]) VALUES (2, 1, 2, N'Normal episode', N'The End of the World', CAST(0x852B0B00 AS Date), 18, 1, NULL)
GO
INSERT [dbo].[tblEpisode] ([EpisodeId], [SeriesNumber], [EpisodeNumber], [EpisodeType], [Title], [EpisodeDate], [AuthorId], [DoctorId], [Notes]) VALUES (3, 1, 3, N'Normal episode', N'The Unquiet Dead', CAST(0x8C2B0B00 AS Date), 18, 1, NULL)
GO
SET IDENTITY_INSERT [dbo].[tblEpisode] OFF
GO

-- add which companions were in which episodes
SET IDENTITY_INSERT [dbo].[tblEpisodeCompanion] ON 
GO
INSERT [dbo].[tblEpisodeCompanion] ([EpisodeCompanionId], [EpisodeId], [CompanionId]) VALUES (1, 1, 4)
GO
INSERT [dbo].[tblEpisodeCompanion] ([EpisodeCompanionId], [EpisodeId], [CompanionId]) VALUES (2, 2, 4)
GO
INSERT [dbo].[tblEpisodeCompanion] ([EpisodeCompanionId], [EpisodeId], [CompanionId]) VALUES (3, 3, 4)
GO
SET IDENTITY_INSERT [dbo].[tblEpisodeCompanion] OFF
GO

-- add which enemies were in which episodes
SET IDENTITY_INSERT [dbo].[tblEpisodeEnemy] ON 
GO
INSERT [dbo].[tblEpisodeEnemy] ([EpisodeEnemyId], [EpisodeId], [EnemyId]) VALUES (1, 15, 10)
GO
INSERT [dbo].[tblEpisodeEnemy] ([EpisodeEnemyId], [EpisodeId], [EnemyId]) VALUES (2, 26, 15)
GO
INSERT [dbo].[tblEpisodeEnemy] ([EpisodeEnemyId], [EpisodeId], [EnemyId]) VALUES (3, 27, 15)
GO
SET IDENTITY_INSERT [dbo].[tblEpisodeEnemy] OFF
GO

-- create relationships between tables
ALTER TABLE [dbo].[tblEpisode]  WITH CHECK ADD  CONSTRAINT [FK_tblEpisode_tblAuthor] FOREIGN KEY([AuthorId])
REFERENCES [dbo].[tblAuthor] ([AuthorId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblEpisode] CHECK CONSTRAINT [FK_tblEpisode_tblAuthor]
GO
ALTER TABLE [dbo].[tblEpisode]  WITH CHECK ADD  CONSTRAINT [FK_tblEpisode_tblDoctor] FOREIGN KEY([DoctorId])
REFERENCES [dbo].[tblDoctor] ([DoctorId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblEpisode] CHECK CONSTRAINT [FK_tblEpisode_tblDoctor]
GO
ALTER TABLE [dbo].[tblEpisodeCompanion]  WITH CHECK ADD  CONSTRAINT [FK_tblEpisodeCompanion_tblCompanion] FOREIGN KEY([CompanionId])
REFERENCES [dbo].[tblCompanion] ([CompanionId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblEpisodeCompanion] CHECK CONSTRAINT [FK_tblEpisodeCompanion_tblCompanion]
GO
ALTER TABLE [dbo].[tblEpisodeEnemy]  WITH CHECK ADD  CONSTRAINT [FK_tbEpisodeEnemy_tblEnemy] FOREIGN KEY([EnemyId])
REFERENCES [dbo].[tblEnemy] ([EnemyId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblEpisodeEnemy] CHECK CONSTRAINT [FK_tbEpisodeEnemy_tblEnemy]
GO

-- create a couple of useful functions to list companions and enemies
CREATE FUNCTION [dbo].[fnCompanions](
	@EpisodeId int
)
RETURNS varchar(100)
AS
begin
	declare @c varchar(100) = ''

	SELECT
		@c = @c + 
			CASE WHEN len(@c) > 0 THEN ', ' ELSE '' END + 
			c.CompanionName
			
	FROM
		tblEpisodeCompanion AS ec
		INNER JOIN tblCompanion AS c ON ec.CompanionId = c.CompanionId
	WHERE
		ec.EpisodeId = @EpisodeId

	return @c
end
GO

CREATE FUNCTION [dbo].[fnEnemies](
	@EpisodeId int
)
RETURNS varchar(100)
AS
begin
	declare @c varchar(100) = ''

	SELECT
		@c = @c + 
			CASE WHEN len(@c) > 0 THEN ', ' ELSE '' END + 
			c.EnemyName
			
	FROM
		tblEpisodeEnemy AS ec
		INNER JOIN tblEnemy AS c ON ec.EnemyId = c.EnemyId
	WHERE
		ec.EpisodeId = @EpisodeId

	return @c
end
GO

-- create procedure to list out all episodes
CREATE PROC [dbo].[spEpisodes]
AS

SELECT 
	SeriesNumber,
	EpisodeNumber,
	Title,
	a.AuthorName,
	d.DoctorName,
	dbo.fnCompanions(e.EpisodeId) AS Companions,
	dbo.fnEnemies(e.EpisodeId) AS Enemies
FROM
	tblEpisode AS e
	INNER JOIN tblAuthor AS a ON a.AuthorId = e.AuthorId
	INNER JOIN tblDoctor AS d on e.DoctorId = d.DoctorId
ORDER BY
	EpisodeDate
GO

